@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header section css start  */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
}

.header-s{
    background-image: url(img/header-bg.png);
}

.header-section{
height: 100vh;

}

.header__text{
    padding: 5em;

}

h2{
    font-size: 2.8em;
    font-weight: 300;
    margin-bottom: 5px;
}

h1{
    font-size: 3.5em;
    color: hotpink;
}

p{
    padding: 30px 0px;
    color: rgb(53, 53, 53);
    line-height: 25px;
}

.header__btn{
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 25px;
    color: white;
    background-image: linear-gradient(15deg, rgb(240, 75, 103),hotpink);
    transition: all 0.4s ease-in;
}

.header__btn:hover{
    padding: 10px 30px;
}

.header-s{

}

img{
    height: 70vh;

}


/* header section css end  */

/* biagrophay start here  */

.biography-s{
    background-image: url(img/biography-bg.png);

}

.biography-section{
    height: 100vh;
    background-repeat: no-repeat;
}


/* biagrophay end here  */

/* work start here  */
.h2{
    text-align: center;
    font-weight: 500;
    font-size: 2.8em;
}

.letest-work{
    background-image: url(img/latest-work-bg.png);
}

.work{
    height: 80vh;
    display: flex;
    align-items: center;
justify-content: space-around;
}

.work__item img{
    height: 250px;
    border: 1px solid rgb(92, 92, 92);
    transition: all 0.6s ease-in;
    border-radius: 12px;
}

.work__item img:hover{
    height: 300px;
}

/* work end here  */

/* footer start here  */
.footer-s{
background-image: url(img/footer-bg.png);
}

.footer-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__text{
    text-align: center;
margin: 25px 0;
}

.footer__text h3{
    font-weight: 600;
    margin: 5px 0;
}

.footer__text p{
    line-height: 28px;
    font-weight: 600;
    color: rgb(73, 73, 73);
}

.footer__text h4{
    font-weight: 400;
    font-size: 15px;
    margin: 5px 0;
}

.footer__btn{

    text-align: center;
    margin: 25px 0;
}

.footer__btn{
    color: white;
    padding: 2em 3em;
    border-radius: 10px;
    background-image: linear-gradient(-25deg, rgb(240, 75, 103),hotpink);
transition: all 0.3s ease-in;
}

.footer__btn:hover {
    padding:2.2em 3.2em ;
}

.footer__btn h2{
    font-size: 25px;
    color: w;
    margin: 10px 0;
}

.footer__btn h4{
    font-weight: 400;
}

/* footer end here  */

.foooter-p{
    text-align: center;
}